//-- Dependencies --//
@import "variables";
@import "mixins";

.f-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: @menu-width;
	height: 100%;
	font-size: 16px;
	font-family: sans-serif;
	.theme-background-color();

	.state--menu-active & {
		visibility: visible;
		-webkit-overflow-scrolling: touch;
	}

	&.state--nested-nav-open {
		.theme-nav-color();
	}

	ul {
		margin-top: 0;
		padding-left: 0;
		list-style-type: none;
	}
}

.f-menu__category {
	&:first-child {
		.f-menu__link {
			border-top-width: 1px;
		}
	}
}

.f-menu__link {
	display: block;
	padding: 1em 1em 1em 2em;
	border: solid darken(@color--light, 10%);
	border-width: 0 0 1px 0;
	text-decoration: none;
	font-size: 1.1rem;
	line-height: 1;
	cursor: pointer;
	.theme-text-secondary-color();
	.transition(all; @speed: 200ms);

	&:hover {
		background-color: darken(@color--light, 15%);
		.theme-text-secondary-color();
	}

	&.f-active {
		box-shadow: inset 3px 0 0 @color--accent;
		background-color: @color--light;

		@media (max-width: 60em) {
			box-shadow: inset -3px 0 0 @color--accent;
		}
	}
}

.f-menu__link--secondary {
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 1em;
	background-color: darken(@color--light, 8%);
	cursor: pointer;

	&:before {
		content: "\25C0";
		display: inline-block;
		margin-right: 10px;
		font-size: 0.6rem;
		line-height: 0.6rem;
		vertical-align: middle;
	}
}

.f-menu--sub {
	position: absolute;
	top: 40px;
	right: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	border-left: 1px solid darken(@color--light, 10%);
	transform: translate3d(100%, 0, 0);
	.transition(all; @speed: 200ms);
	.theme-background-color();

}

&.state--open {
	.f-menu--sub {
		transform: translate3d((@menu-width / (@menu-width / 2)), 0, 0);
	}
}

.f-menu-toggle {
	position: fixed;
	top: 40px;
	left: 2rem;
	border: none;
	text-align: center;
	cursor: pointer;
	.transition(all; @speed: 200ms);

	svg {
		display: block;
		width: 3em;
		height: 2em;
		margin-bottom: 10px;
	}
}
