//-- Dependencies --//
@import "variables";
@import "mixins";

.f-menu {
	@allianz-flag: 80px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: @menu-width;
	height: 100%;
	font-size: 16px;
	font-family: sans-serif;

	.state--menu-active & {
		visibility: visible;
		-webkit-overflow-scrolling: touch;
	}

	@media (max-width: 60em) {
		left: auto;
		right: 0;
	}

	ul {
		margin-top: 0;
		padding-left: 0;
		list-style-type: none;
	}
}

.f-menu__category {
	> .f-menu__link {
		font-weight: 700;
	}
}

.f-menu__link {
	display: block;
	padding: .8em;
	border-width: 0 0 1px 0;
	text-decoration: none;
	font-size: .8rem;
	cursor: pointer;
	.theme-text-secondary-color();
	.transition(all; @speed: 200ms);

	&:hover {
		background-color: darken(@color--light, 5%);
		.theme-text-secondary-color();
	}

	&.f-active {
		box-shadow: inset 3px 0 0 @color--accent;
		background-color: @color--light;

		@media (max-width: 60em) {
			box-shadow: inset -3px 0 0 @color--accent;
		}
	}
}

.f-menu--sub {
	width: 100%;
	max-height: 0;
	border-left: 1px solid darken(@color--light, 10%);
	overflow: hidden;
	.transition(all; @speed: 200ms);
}

&.state--open {
	.f-menu--sub {
		max-height: 1000px;
	}
}

.f-menu-toggle {
	position: fixed;
	top: 30px;
	right: 2rem;
	border: none;
	text-align: center;
	cursor: pointer;
	.transition(all; @speed: 200ms);

	@media (min-width: 60em) {
		display: none;
	}

	svg {
		display: block;
		width: 3em;
		height: 2em;
		margin-bottom: 5px;
	}
}
