<nav class="f-menu" role="navigation">
	<div class="f-controls">
		<div class="f-icon" data-f-toggle-control="details" title="toggle details">
			<svg>
				<use xlink:href="#f-icon-details" />
			</svg>
		</div>
		<div class="f-icon" data-f-toggle-control="notes" title="toggle notes">
			<svg>
				<use xlink:href="#f-icon-notes" />
			</svg>
		</div>
		<div class="f-icon" data-f-toggle-control="code" title="toggle code">
			<svg>
				<use xlink:href="#f-icon-code" />
			</svg>
		</div>
	</div>
	<ul>
		<li>
			<a href="index.html" class="f-menu__heading">Overview</a>
		</li>
		<li>
			<div class="f-menu__heading js-toggle-subnav">Components</div>
			<ul>
				{{#each components}}
					<li>
						<a href="components.html#{{id}}">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
		<li>
			<div class="f-menu__heading js-toggle-subnav">Structures</div>
			<ul>
				{{#each structures}}
					<li>
						<a href="structures.html#{{id}}">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
		<li>
			<div class="f-menu__heading js-toggle-subnav">Templates</div>
			<ul>
				{{#each templates}}
					<li>
						<a href="template-{{id}}.html">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
		<li>
			<div class="f-menu__heading js-toggle-subnav">Documentation</div>
			<ul>
				{{#each documentation}}
					<li>
						<a href="documentation.html#{{id}}">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
	</ul>
</nav>
