<nav class="f-menu" role="navigation">
	<div class="f-controls">
		<div class="f-icon" data-f-toggle-control="details" title="toggle details">
			<svg>
				<use xlink:href="#f-icon-details" />
			</svg>
		</div>
		<div class="f-icon" data-f-toggle-control="notes" title="toggle notes">
			<svg>
				<use xlink:href="#f-icon-notes" />
			</svg>
		</div>
		<div class="f-icon" data-f-toggle-control="code" title="toggle code">
			<svg>
				<use xlink:href="#f-icon-code" />
			</svg>
		</div>
	</div>
	<ul>
		<li class="f-menu__category">
			<a href="index.html" class="f-menu__link">Overview</a>
		</li>
		<li class="f-menu__category">
			<div class="f-menu__link js-toggle-subnav">Components</div>
			<ul class="f-menu--sub">
					<li class="f-menu__link f-menu__link--secondary js-close">Back</li>
				{{#each components}}
					<li class="js-close">
						<a href="components.html#{{id}}" class="f-menu__link">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
		<li class="f-menu__category">
			<div class="f-menu__link js-toggle-subnav">Structures</div>
			<ul class="f-menu--sub">
				<li class="f-menu__link f-menu__link--secondary js-close">Back</li>
				{{#each structures}}
					<li class="js-close">
						<a href="structures.html#{{id}}" class="f-menu__link">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
		<li class="f-menu__category">
			<div class="f-menu__link js-toggle-subnav">Templates</div>
			<ul class="f-menu--sub">
				<li class="f-menu__link f-menu__link--secondary js-close">Back</li>
				{{#each templates}}
					<li class="js-close">
						<a href="template-{{id}}.html" class="f-menu__link">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
		<li class="f-menu__category">
			<div class="f-menu__link js-toggle-subnav">Documentation</div>
			<ul class="f-menu--sub">
				<li class="f-menu__link f-menu__link--secondary js-close">Back</li>
				{{#each documentation}}
					<li class="js-close">
						<a href="documentation.html#{{id}}" class="f-menu__link">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</li>
	</ul>
</nav>
